body {
    overflow-x: hidden;
}
.card-color {
    background-color: #c27400 !important;
    margin: 0 !important;
    border-radius: 0;
}
.card-title-modal {
    color: white;
    font-weight: bold;
}
.masInfo {
    margin-right: 0;
    margin-left: auto;
    color: #c27400 !important;
}
.margenError {
    margin: auto;
    display: block;
}
.sombraError {
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 5px rgba(0, 0, 0, 0) !important;
}