<div id="listaElementos" class="row">
    <div class="col-md-4" th:each="ejemplar: ${listaEjemplares}">
        <div class="card card-profile" style="border: 2px solid #c27400">
            <div class="container">
                <div class="albery-container">

                    <div class="albery-wrapper" style="width: 2400px; margin-left: -14%;">

                        <div class="albery-item" style="width: 600px;" th:each="imagen: ${ejemplar.getListaImagenes()}">
                            <img th:src="${imagen}" alt=""
                                 style="align-content: center;align-self: center;align-items: center;">
                        </div>



                    </div>

                    <div class="move-right">
                        <a href="#" id="rightArrow"></a>
                    </div>
                    <div class="move-left">
                        <a href="#" id="leftArrow"></a>
                    </div>

                </div>

                <div class="pagination-container" style="width: 600px;" th:each="imagen: ${ejemplar.getListaImagenes()}">
                    <div class="pagination-wrapper" style="width: 484px; left: -363px;">
                        <div class="pagination-item" data-item="1" style="width: 116px; margin-right: 5px;">
                            <img th:src="${imagen}" alt="">
                        </div>
                    </div>
                </div>
                <div style="border: 2px solid gray;margin-left: -18px;width: 118px;min-height: 114px;position: absolute;bottom: -4px;"></div>
            </div>
            <script src="/js/albery.js"></script>
            <script>
                $(".albery-container").albery({
                    speed: 500,
                    imgWidth: 600,
                });
            </script>
            <div class="card-body" style="background-color: #c27400">
                <h3 class="card-title"><b>Modelo:</b> <span
                        th:text="' ' + ${ejemplar.getModelo().getValorFacial()}+ ' ' +${ejemplar.getModelo().getUnidadMonetaria()}"></span>
                </h3>
                <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Fechas
                adquisición:</b><span th:text="' ' + ${ejemplar.getFecha_adquisicion()}"></span></h4>
                <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Ciudad de
                acuñación:</b><span th:text="' ' + ${ejemplar.getCiudad_acu()}"></span></h4>
                <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Fechas acuñacion:</b> <span
                    th:text="' ' + ${ejemplar.getAnyo()}"></span>
            </h4>
                <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Estado:</b><span
                    th:text="' ' + ${ejemplar.getEstado()}"></span></h4>
            </div>
        </div>
    </div>
</div>