<div id="listaElementos" class="row">
    <div class="col-md-4" th:each="modelo: ${listaModelos}">
        <div class="card card-chart">
            <div class="card-header card-header-success"
                 style="width: 100%; margin-left: 0;opacity:0.9;background: #c27400!important;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 5px rgba(0, 0, 0, 0)!important;">
                <div class="row">
                    <div class="col-10">
                        <span th:text="${modelo.getValorFacial()}+ ' ' + ${modelo.getUnidadMonetaria()} "></span>
                    </div>
                    <div class="col-1">
                        <a th:href="'#eliminarModelo' + ${modelo.id}" data-toggle="modal"
                           th:name="'#eliminarModelo' + ${modelo.id}">
                            <i class="material-icons" style="color: white">delete</i>
                        </a>
                    </div>
                    <div class="col-1">
                        <a th:href="'#modificarModelo' + ${modelo.id}" data-toggle="modal"
                           th:name="'#modificarModelo' + ${modelo.id}">
                            <i class="material-icons" style="color: white">edit</i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <img class="img" th:src="${modelo.getImagenCodificada()}" alt="" style="margin-left: 18%">
            </div>
            <div class="card-footer">
                <div class="stats" style="margin-left: 90%;">
                    <a th:href="'#masInfo' + ${modelo.id}" data-toggle="modal"
                       th:name="'#masInfo' + ${modelo.id}">
                        <i class="material-icons" style="float: right">add</i> info
                    </a>
                </div>
            </div>
        </div>
        <div class="modal fade" th:id="'eliminarModelo' + ${modelo.id}" tabindex="-1" role="dialog"
             th:aria-labelledby="'eliminarModelo' + ${modelo.id}"
             aria-hidden="true" align="center" data-backdrop="static" data-keyboard="true">
            <form action="#" th:action="@{'/Inicio/borrarModelo' + ${modelo.id}}" method="post">
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="card card-plain">
                            <div class="modal-header card-header card-header-primary">
                                <h4 class="card-title">Confirmar eliminación</h4>
                            </div>
                        </div>
                        <div class="modal-body" align="left">
                            <p> ¿Está seguro de eliminar el com.example.demo.modelo?</p>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="submit1" value="Accept" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="modal fade" th:id="'modificarModelo' + ${modelo.id}" tabindex="-1" role="dialog"
             th:aria-labelledby="'modificarModelo' + ${modelo.id}"
             aria-hidden="true" align="center">
            <form action="/Inicio/modificarModelo" method="post" enctype='multipart/form-data'>>
                <div class="modal-dialog " role="document">
                    <div class="modal-content">
                        <div class="card card-plain">
                            <div class="modal-header card-header card-header-primary">
                                <h4 class="card-title">Modificar modelo</h4>
                            </div>
                        </div>
                        <div class="modal-body" align="left">
                            <p>
                                <label>Image file:</label><input type="file" required name="file"/>
                            </p>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label>Inserte valor facial</label>
                                        <input name="valorFacial" required type="number" min="1" step="1"
                                               class="form-control" th:value="${modelo.getValorFacial()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label>Inserte unidad monetaria</label>
                                        <input name="unidadMonetaria" required type="text" class="form-control"
                                               th:value="${modelo.getUnidadMonetaria()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label>Inserte diametro</label>
                                        <input name="diametro" required type="number" min="0.1" step="0.01"
                                               class="form-control" th:value="${modelo.getDiametro()}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group bmd-form-group">
                                        <label>Inserte peso</label>
                                        <input name="peso" required type="number" min="0.1" step="0.01"
                                               class="form-control" th:value="${modelo.getPeso()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label>Inserte la descripción</label>
                                        <input name="descripcion" required type="text" class="form-control"
                                               th:value="${modelo.getDescripcion()}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group bmd-form-group">
                                        <label>Inserte los metales que la componen(separados
                                            por
                                            "," )</label>
                                        <input name="metales" required type="text" class="form-control"
                                               th:value="${modelo.metalesToString()}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" id="submit" value="Aceptar" class="btn btn-primary"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal" th:id="'masInfo' + ${modelo.id}" tabindex="-1" role="dialog"
             th:aria-labelledby="'masInfo' + ${modelo.id}"
             aria-hidden="true" align="center">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="card card-plain">
                        <div class="modal-header card-header card-header-primary">
                            <h4 class="card-title">Información del modelo: <span
                                    th:text="' ' + ${modelo.getValorFacial()}+ ' ' + ${modelo.getUnidadMonetaria()}"></span>
                            </h4>
                        </div>
                    </div>
                    <div class="modal-body" align="left">
                        <div class="card-body">
                            <img class = "img" th:src="${modelo.getImagenCodificada()}" alt="" style="margin-left: 12%;margin-top: -7%;">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="class-title">Diametro: <span th:text="' '+ ${modelo.getDiametro()}"></span>
                                </h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="class-title">Peso: <span th:text="' '+ ${modelo.getPeso()}"></span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="class-title">Descripción: <span
                                        th:text="' '+ ${modelo.getDescripcion()}"></span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="class-title">Metales: <span
                                        th:text="' '+ ${modelo.metalesToString()}"></span></h5>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" data-dismiss="modal" id = "botonMasEjemplares"  th:data1 ='${modelo.getValorFacial()}' th:data2 ='${modelo.getUnidadMonetaria()}' onclick="buscarEjemplaresModelos(this.getAttribute('data1'), this.getAttribute('data2'))"> Ver Ejemplares </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




