<div class="col-md-4">
    <div class="card card-profile" style="border: 2px solid #c27400">
        <div class="container">
            <div class="albery-container">

                <div class="albery-wrapper">

                    <div class="albery-item">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                    <div class="albery-item">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                    <div class="albery-item">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                    <div class="albery-item">
                        <img src="DoblonEspanol.png" alt="">
                    </div>


                </div>

                <div class="move-right">
                    <a href="#" id="rightArrow"></a>
                </div>
                <div class="move-left">
                    <a href="#" id="leftArrow"></a>
                </div>

            </div>

            <div class="pagination-container">
                <div class="pagination-wrapper">
                    <div class="pagination-item" data-item="1">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                    <div class="pagination-item" data-item="2">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                    <div class="pagination-item" data-item="3">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                    <div class="pagination-item" data-item="4">
                        <img src="DoblonEspanol.png" alt="">
                    </div>
                </div>
            </div>
            <div style="border: 2px solid gray;margin-left: -6px;width: 18%;min-height: 121px;position: absolute;bottom: 45%;"></div>
        </div>
        <script>
            $(".albery-container").albery({
                speed: 500,
                imgWidth: 600,
            });
        </script>
        <div class="card-body" style="background-color: #c27400">
            <div class="row">
                <div class="col-9">
            <h3 class="card-title"><b>Modelo: 1 doblon Español</b></h3>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-fab btn-fab-mini btn-round"
                            data-toggle="modal"
                            data-target="#crearEjemplar"
                    >
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-fab btn-fab-mini btn-round"
                            data-toggle="modal"
                            th:data-target="'#eliminarEjemplar' + ${ejemplar.id}"
                    >
                        <i class="material-icons">delete</i>
                    </button>
                </div>
                <div class="col-1">
                    <button class="btn btn-primary btn-fab btn-fab-mini btn-round"
                            data-toggle="modal"
                            th:data-target="'#modificarEjemplar' + ${ejemplar.id}"
                    >
                        <i class="material-icons">edit</i>
                    </button>
                </div>
                </div>
            <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Fechas adquisición:</b>
            19/4/1998</h4>
            <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Ciudad de acuñáción:</b>
            Mostoles</h4>
            <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Fechas acuñacion:</b> 1997
        </h4>
            <br><br><h4 class="card-description" style="float: left;text-align: left"><b>Estado:</b> Descripción del
            coso este va aqui, y para que sea largo le pongo esta mierda.</h4>
        </div>
    </div>
    <div class="modal fade" th:id="'eliminarEjemplar' + ${ejemplar.id}"  tabindex="-1" role="dialog" th:aria-labelledby="'eliminarEjemplar' + ${modelo.id}"
         aria-hidden="true" align="center" data-backdrop="static" data-keyboard="true">
        <form action="#" th:action="@{'/Inicio/borrarEjemplar' + ${ejemplar.id}}" method="post">
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="card card-plain">
                        <div class="modal-header card-header card-header-primary">
                            <h4 class="card-title">Confirmar eliminación</h4>
                        </div>
                    </div>
                    <div class="modal-body" align="left">
                        <p> ¿Está seguro de eliminar el Ejemplar?</p>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submit1" value="Accept" class="btn btn-primary"/>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal fade" th:id="'modificarEjemplar' + ${ejemplar.id}" tabindex="-1" role="dialog" aria-labelledby="modificarEjemplar"
         aria-hidden="true" align="center" >
        <form action="#" th:action="@{'/Inicio/modificarEjemplar' + ${ejemplar.id}}" method="post" enctype='multipart/form-data'>>
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="card card-plain">
                        <div class="modal-header card-header card-header-primary">
                            <h4 class="card-title">Introduzca nuevo Ejemplar</h4>
                        </div>
                    </div>
                    <div class="modal-body" align="left">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Inserte Nombre del Modelo del Ejemplar</label>
                                    <input name="nombreModelo" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Inserte fecha de adquisicion</label>
                                    <input name="fechaAdquisicion" required type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Inserte Ciudad de acuñacion</label>
                                    <input name="ciudadAcunyacion" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Inserte Año de acuñacion</label>
                                    <input name="anyo" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Inserte el estado</label>
                                    <input name="estado" required type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label class="bmd-label-floating">Inserte el codigo de identificacion fiscal del com.example.demo.proveedor</label>
                                    <input name="codigoIdFiscal" required type="String" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submit" value="Aceptar" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

