<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inicio</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"/>
    <!-- Material Dashboard CSS -->
    <link rel="stylesheet" href="/css/material-dashboard.css">
    <link rel="stylesheet" href="/css/carrusel.css">

    <!--   Core JS Files   -->
    <script src="/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="/js/core/popper.min.js" type="text/javascript"></script>
    <script src="/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>

    <!-- Plugin for the Perfect Scrollbar -->
    <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <!-- Plugin for the momentJs  -->
    <script src="/js/plugins/moment.min.js"></script>

    <!--  Plugin for Sweet Alert -->
    <script src="/js/plugins/sweetalert2.js"></script>

    <!-- Forms Validations Plugin -->
    <script src="/js/plugins/jquery.validate.min.js"></script>

    <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
    <script src="/js/plugins/jquery.bootstrap-wizard.js"></script>

    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    <script src="/js/plugins/bootstrap-selectpicker.js"></script>

    <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="/js/plugins/bootstrap-datetimepicker.min.js"></script>

    <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
    <script src="/js/plugins/jquery.dataTables.min.js"></script>

    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    <script src="/js/plugins/bootstrap-tagsinput.js"></script>

    <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    <script src="/js/plugins/jasny-bootstrap.min.js"></script>

    <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
    <script src="/js/plugins/fullcalendar.min.js"></script>

    <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
    <script src="/js/plugins/jquery-jvectormap.js"></script>

    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    <script src="/js/plugins/nouislider.min.js"></script>

    <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>

    <!-- Library for adding dinamically elements -->
    <script src="/js/plugins/arrive.min.js"></script>

    <!-- Chartist JS -->
    <script src="/js/plugins/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/js/plugins/bootstrap-notify.js"></script>
    <script src="/js/material.js"></script>
    <script src="/js/Inicio.js"></script>
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/js/material-dashboard.min.js?v=2.1.1" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/albery.css" type="text/css">
    <style>
        .content{
            margin-top: 0!important;
        }
        h1 {
            text-align: center;
        }

        .albery-item img {
            width: 43%;
        }

        .card-description {
            color: black;
        }

        #botonCrear {
            position: relative;
            text-align: center;
            left: 50%;
        }

        .btn-color {
            background-color: #c27400;
        }

        .form-check .form-check-input:checked ~ .circle .check {

            background-color: #a1887f;

        }

        .form-check .form-check-input:checked ~ .circle {

            border-color: #a1887f;
        }

        .img {
            width: 330px !important;
            height: 300px;
        }
    </style>
    <script src="/js/busquedas.js"></script>
</head>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function () {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();

</script>
<body style="overflow-x:hidden" th:onload="'cargarPagina(' + ${elementoTipo} + ')'">
<div class="wrapper-full-page">
    <div class="wrapper">
        <div class="sidebar" data-color="#8d6e63" data-background-color="white" data-image="/img/sidebar-1.jpg">
            <div class="logo" style="background-color: #8d6e63">
                <a class="simple-text logo-normal" style="color: white">
                    BÚSQUEDA
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link"
                           style="background: #a1887f;color: black; margin-bottom: -6%;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 5px rgba(0, 0, 0, 0)!important;">
                            <p>¿Qué desea buscar?</p>
                        </a>
                        <div style="margin: 10%">
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="check" id="exampleRadios1"
                                           onclick="busquedaModelos()"
                                           value="option1">
                                    Modelo
                                    <span class="circle">
            <span class="check"></span>
        </span>
                                </label>
                            </div>
                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="check" id="exampleRadios2"
                                           onclick="busquedaEjemplares()"
                                           value="option2" checked>
                                    Ejemplar
                                    <span class="circle">
                                    <span class="check"></span>
                                </span>
                                </label>
                            </div>

                            <div class="form-check form-check-radio">
                                <label class="form-check-label">
                                    <input onclick="busquedaProveedores()" class="form-check-input" type="radio"
                                           name="check" id="exampleRadios3"
                                           value="option3">
                                    Proveedor
                                    <span class="circle">
            <span class="check"></span>
        </span>
                                </label>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link"
                           style="background: #a1887f;color: black; margin-bottom: -6%;box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 5px rgba(0, 0, 0, 0)!important;">
                            <p>Ordenar por:</p>
                            <label>
                                <i class="material-icons"
                                   style="position: absolute;color: black; margin-left: 39%;margin-top: -1%">
                                    expand_more </i>
                                <select id="ordenarPorId" name="ordenarPor" style="width:150px">
                                    <option selected value="0"> Elige una opción</option>
                                    <option value="VF">Valor facial</option>
                                    <option value="UM">Unidad Monetaria</option>
                                    <option value="D">Diametro</option>
                                    <option value="P">Peso</option>
                                </select>
                            </label>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="sidebar-background" style="background-image: url(/img/sidebar-1.jpg) "></div>
        </div>
        <div class="main-panel">
            <header class="navbar navbar-expand navbar-dark bg-primary flex-column flex-md-row bd-navbar"
                    style="background: #8d6e63!important;box-shadow: 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 5px rgba(0, 0, 0, 0)!important; border-radius: 0!important;">
                <a class="navbar-brand mr-0 mr-md-2" href="#" target="_blank">
                    <img src="/img/logoPractica.png" style="max-width: 75px;margin-top: -12%;">
                </a>

                <div class="navbar-nav-scroll ml-md-auto ">
                    <ul class="navbar-nav bd-navbar-nav flex-row">
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <i
                                    class="material-icons">today</i>NEXT EVENT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i
                                    class="material-icons">search</i>SEARCH</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" target="_blank"
                               rel="noopener"><i class="material-icons">help_outline</i>help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="_blank" rel="noopener"></a>
                        </li>


                    </ul>
                </div>

            </header>
            <div class="content">
                <div class="container-fluid">
                    <div id="listaElementos" class="row">
                    </div>
                </div>
            </div>
            <button id="botonCrear" class="btn btn-fab btn-round btn-color" data-toggle="modal"
                    data-target="#crearModelo">
                <i class="material-icons">add</i>
            </button>
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="float-left">
                        <ul>
                            <li>
                                <a href="#">
                                    Contacta con nosotros
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Avisos legales
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Acerca de nosotros
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright float-right">
                        ©MuseoDeLaMoneda
                    </div>
                </div>


            </footer>
        </div>
    </div>

    <div class="modal fade" id="crearProveedor" tabindex="-1" role="dialog" aria-labelledby="crearProveedor "
         aria-hidden="true" align="center">
        <form action="/Inicio/crearProveedor" method="post" enctype='multipart/form-data'>>
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="card card-plain">
                        <div class="modal-header card-header card-header-primary">
                            <h4 class="card-title">Introduzca nuevo com.example.demo.proveedor</h4>
                        </div>
                    </div>
                    <div class="modal-body" align="left">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte el codigo de identificacion fiscal del
                                        proveedor</label>
                                    <input name="codigoIdFiscal" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte el nombre del proveedor</label>
                                    <input name="nombreProveedor" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte la direccion postal del proveedor</label>
                                    <input name="dirPostal" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte email del proveedor</label>
                                    <input name="email" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte telefono del proveedor</label>
                                    <input name="telefono" required type="number" min="600000000" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submit3" value="Aceptar" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="crearModelo" tabindex="-1" role="dialog" aria-labelledby="crearModelo "
         aria-hidden="true" align="center">
        <form action="/Inicio/crearModelo" method="post" enctype='multipart/form-data'>>
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="card card-plain">
                        <div class="modal-header card-header card-header-primary">
                            <h4 class="card-title">Introduzca nuevo modelo</h4>
                        </div>
                    </div>
                    <div class="modal-body" align="left">
                        <p>
                            <label>Image file:</label><input type="file" required name="file"/>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte valor facial</label>
                                    <input name="valorFacial" required type="number" min="1" step="1"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte unidad monetaria</label>
                                    <input name="unidadMonetaria" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte diametro</label>
                                    <input name="diametro" required type="number" min="0.1" step="0.01"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte peso</label>
                                    <input name="peso" required type="number" min="0.1" step="0.01"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte la descripción</label>
                                    <input name="descripcion" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte los metales que la componen(separados por
                                        "," )</label>
                                    <input name="metales" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submit2" value="Aceptar" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="crearEjemplar" tabindex="-1" role="dialog" aria-labelledby="crearEjemplar"
         aria-hidden="true" align="center">
        <form action="/Inicio/crearEjemplar" method="post" enctype='multipart/form-data'>>
            <div class="modal-dialog " role="document">
                <div class="modal-content">
                    <div class="card card-plain">
                        <div class="modal-header card-header card-header-primary">
                            <h4 class="card-title">Introduzca nuevo Ejemplar</h4>
                        </div>
                    </div>
                    <div class="modal-body" align="left">
                        <p>
                            <label>Image file:</label><input type="file" required name="file"/>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte el valor facial del modelo</label>
                                    <input name="valorFacial" required type="number" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte la unidad monetaria del modelo</label>
                                    <input name="unidadMonetaria" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte fecha de adquisicion</label>
                                    <input name="fechaAdquisicion" required type="date" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte Ciudad de acuñacion</label>
                                    <input name="ciudadAcunyacion" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte Año de acuñacion</label>
                                    <input name="anyo" required type="number" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte el estado</label>
                                    <input name="estado" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <label>Inserte el codigo de identificacion fiscal del
                                        proveedor</label>
                                    <input name="codigoIdFiscal" required type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" id="submit" value="Aceptar" class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>

</html>
